*{
  font-family: "Inter", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #fc427b;
  display: flex;
  justify-content: center;
  align-items: center;
}
div{
  color: aliceblue;
  text-align: center;
 
}
div button{
  border: none;
  background-color: #182c61;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
b{
  color: #3b3b98;
  background-color: #fff;
  border-radius: 40%;
  padding: 5px;
}